<% if @posts.any? %>
		<% @posts.each do |post| %>
				<div class='post'>
					<h2><%= post.title %></h2>
					<p><%= post.description %></p>
					<p><%= post.tags.name %></p>
					<p>Posted by <%= post.user.email %></p>
					<% if post.picture.present? %>
						<p><%= image_tag post.picture.url(:thumb), class: 'uploaded-pic' %></p>
					<% end %>
				</div>
		<% end %>
<% else %>
	No posts
<% end %>



<%= link_to "Create post", new_post_path %>