<% if @posts.any? %>
	<ul>
		<% @posts.each do |post| %>
			<li> 
				<h3><%= post.title %></h3>
				<%= post.description %>
				Posted by <%= post.user.email %>
				<% if post.picture.present? %>
					<%= image_tag post.picture.url, class: 'uploaded-pic' %>
				<% end %>
			</li>
		<% end %>
	</ul>
<% else %>
	No posts
<% end %>



<%= link_to "Create post", new_post_path %>