
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Instagram</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
  	<%= javascript_include_tag 'application' %>
  	<%= csrf_meta_tags %>

  </head>

  <body>
    <% unless user_signed_in? %> 
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Instagram</a>
          </div>
          <div class="navbar-collapse collapse">
            <%= form_for(User.new, as: :user, url: session_path(:user), html: {class: "navbar-form navbar-right" }) do |f| %>
              <div class="form-group">
                <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>
              </div>
            
            <%= f.check_box :remember_me %> <%= f.label :remember_me %>
            

            <%= f.button "Sign in", class: "btn btn-success" %>
          <% end %>
          </div><!--/.navbar-collapse -->
        </div>
      </div>
    <% end %>
	<%= yield %>
   
	<div class="container">
    

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->
 
  </body>
</html>

